.header {
  box-sizing: border-box;
  max-width: 1177px;
  width: 100%;
  background-color: #d9d9d9;
  padding: 6px 26px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  margin-bottom: 19px;
  &__logo {
    width: 181px;
    height: 37px;
    background-color: #f1f2ae;
  }
  &__title {
    font-size: 12px;
    line-height: 15px;
    color: #000000;
  }
}
